[submodule "src/AmolqcInterface/amolqc"]
	path = src/AmolqcInterface/amolqc
	url = git@tcrocks.pc.rwth-aachen.de:amolqc.git
[submodule "src/Externals/BSplines"]
    path = src/Externals/BSplines
    url = git@git.rwth-aachen.de:michael.heuer/BSplines.git
[submodule "src/Externals/cppoptlib"]
	path = src/Externals/cppoptlib
	url = https://github.com/MonteCarloMichael/CppNumericalSolvers.git
